tests/wsdl_files/without_actions.wsdl

<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
  xmlns:xro="http://x-road.eu/xsd/xroad.xsd"
  xmlns:tns="https://example.org"
  targetNamespace="https://example.org"
  name="SoapService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://example.org">
      <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
      <element name="FaultResponse" type="tns:FaultResponse"/>
      <complexType name="FaultResponse">
        <sequence>
          <element name="faultcode" type="string"/>
          <element name="faultstring" type="string"/>
          <element name="faultactor" type="string" minOccurs="0"/>
          <element name="detail" type="tns:FaultResponseDetail" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="FaultResponseDetail">
        <sequence>
          <any processContents="lax"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="FaultResponse">
    <wsdl:part element="tns:FaultResponse" name="fault"/>
  </wsdl:message>
  <wsdl:message name="xroadHeader">
    <wsdl:part element="xro:client" name="client"/>
    <wsdl:part element="xro:service" name="service"/>
    <wsdl:part element="xro:id" name="id"/>
    <wsdl:part element="xro:protocolVersion" name="protocolVersion"/>
    <wsdl:part element="xro:userId" name="userId"/>
  </wsdl:message>
  <wsdl:portType name="servicePortType"/>
  <wsdl:binding name="serviceBinding" type="tns:servicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  </wsdl:binding>
  <wsdl:service name="xroadService">
    <wsdl:port binding="tns:serviceBinding" name="servicePort">
      <soap:address location="http://example.org/xroad-endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
