tests/test_wsdl/with_restricted_elements.wsdl

<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd"
  xmlns:xro="http://x-road.eu/xsd/xroad.xsd"
  xmlns:tns="https://example.org"
  targetNamespace="https://example.org"
  name="SoapService">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="https://example.org">
      <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
      <element name="Request" type="tns:Request"/>
      <element name="FaultResponse" type="tns:FaultResponse"/>
      <complexType name="Request">
        <sequence>
          <element name="BoolElement" type="boolean" minOccurs="1" maxOccurs="2"/>
          <element name="IntElement" type="tns:CustomInteger__cTQEFEUqPBJq5KcB" minOccurs="0" maxOccurs="unbounded"/>
          <element name="FloatElement" type="tns:CustomFloat__bgABphex5eApAPaq" minOccurs="0" maxOccurs="unbounded"/>
          <element name="StrElement" type="tns:CustomString__L0SqSYLrFHcBqAkK" minOccurs="0" maxOccurs="unbounded"/>
          <element name="OtherStrElement" type="tns:CustomString__L0SqSYLrFHcBqAkK" minOccurs="0" maxOccurs="unbounded"/>
          <element name="DateElement" type="tns:CustomDate__8PG3cFkVrHM4dAOu" minOccurs="0" maxOccurs="unbounded"/>
          <element name="TimeElement" type="tns:CustomTime__Bj62E9robDR33DAV" minOccurs="0" maxOccurs="unbounded"/>
          <element name="DateTimeElement" type="dateTime" minOccurs="3" maxOccurs="4"/>
          <element name="NetResElement" type="tns:CustomAnyuri__SitC87KC2Hpd0JRU" minOccurs="0"/>
        </sequence>
      </complexType>
      <complexType name="FaultResponse">
        <sequence>
          <element name="faultcode" type="string"/>
          <element name="faultstring" type="string"/>
          <element name="faultactor" type="string"/>
          <element name="detail" type="tns:FaultResponseDetail"/>
        </sequence>
      </complexType>
      <complexType name="FaultResponseDetail">
        <sequence>
          <any processContents="lax"/>
        </sequence>
      </complexType>
      <simpleType name="CustomInteger__cTQEFEUqPBJq5KcB">
        <restriction base="integer">
          <totalDigits value="5"/>
        </restriction>
      </simpleType>
      <simpleType name="CustomFloat__bgABphex5eApAPaq">
        <restriction base="float">
          <pattern value="^[0-4.]+$"/>
        </restriction>
      </simpleType>
      <simpleType name="CustomString__L0SqSYLrFHcBqAkK">
        <restriction base="string">
          <enumeration value="first"/>
          <enumeration value="second"/>
          <enumeration value="third"/>
        </restriction>
      </simpleType>
      <simpleType name="CustomDate__8PG3cFkVrHM4dAOu">
        <restriction base="date">
          <minInclusive value="2024-02-13"/>
        </restriction>
      </simpleType>
      <simpleType name="CustomTime__Bj62E9robDR33DAV">
        <restriction base="time">
          <minInclusive value="17:33:57"/>
        </restriction>
      </simpleType>
      <simpleType name="CustomAnyuri__SitC87KC2Hpd0JRU">
        <restriction base="anyURI">
          <length value="20"/>
        </restriction>
      </simpleType>
    </schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part element="tns:Request" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="FaultResponse">
    <wsdl:part element="tns:FaultResponse" name="fault"/>
  </wsdl:message>
  <wsdl:message name="xroadHeader">
    <wsdl:part element="xro:client" name="client"/>
    <wsdl:part element="xro:service" name="service"/>
    <wsdl:part element="xro:id" name="id"/>
    <wsdl:part element="xro:protocolVersion" name="protocolVersion"/>
    <wsdl:part element="xro:userId" name="userId"/>
  </wsdl:message>
  <wsdl:portType name="servicePortType">
    <wsdl:operation name="pytestAction">
      <wsdl:input message="tns:Request" name="Request"/>
      <wsdl:fault message="tns:FaultResponse" name="FaultResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceBinding" type="tns:servicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="pytestAction">
      <soap:operation soapAction="pytestAction"/>
      <xro:version>v1</xro:version>
      <wsdl:input>
        <soap:header message="tns:xroadHeader" use="literal" part="client"/>
        <soap:header message="tns:xroadHeader" use="literal" part="service"/>
        <soap:header message="tns:xroadHeader" use="literal" part="id"/>
        <soap:header message="tns:xroadHeader" use="literal" part="protocolVersion"/>
        <soap:header message="tns:xroadHeader" use="literal" part="userId"/>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:xroadHeader" use="literal" part="client"/>
        <soap:header message="tns:xroadHeader" use="literal" part="service"/>
        <soap:header message="tns:xroadHeader" use="literal" part="id"/>
        <soap:header message="tns:xroadHeader" use="literal" part="protocolVersion"/>
        <soap:header message="tns:xroadHeader" use="literal" part="userId"/>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="FaultResponse">
        <soap:fault name="FaultResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="xroadService">
    <wsdl:port binding="tns:serviceBinding" name="servicePort">
      <soap:address location="http://example.org/xroad-endpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
